
.funclistul .znewyun{ background:url(../images/yunicon.png?temp=20180309) no-repeat}
.funclistul .zne_kc_icon{ background-position:0px 0px;}
/*.funclistul .zne_ds_icon{ background-position:-23px 0px;}*/
.funclistul .zne_bj_icon{ background-position:-48px 0px;}
.funclistul .zne_zt_icon{ background-position:-73px 0px;}
.funclistul .zne_yp_icon{ background-position:-97px 0px;}
.funclistul .zne_qz_icon{ background-position:-172px -2px;}
.funclistul .zne_cz_icon{ background-position:-122px 0px;}
/*.funclistul .zne_bz_icon{ background-position:-146px -1px;}*/
.funclistul .zne_bz_icon{ background-position:-1120px -1px;}
.funclistul .zne_xxttj_icon{ background-position:-1082px 0px;}
.funclistul .zne_dy_icon{ background-position:-197px 0px;}

.funclistul li a:hover .zne_kc_icon,.funclistul li a.currentpage .zne_kc_icon,.funclistul .znewyun:hover,.funclistul li a.currentpage .znewyun{ background-position:0px -24px;}
/*.funclistul li a:hover .zne_ds_icon,.funclistul li a.currentpage .zne_ds_icon{ background-position:-23px -24px;}*/
.funclistul li a:hover .zne_bj_icon,.funclistul li a.currentpage .zne_bj_icon{ background-position:-48px -24px;}
.funclistul li a:hover .zne_zt_icon,.funclistul li a.currentpage .zne_zt_icon{ background-position:-73px -24px;}
.funclistul li a:hover .zne_yp_icon,.funclistul li a.currentpage .zne_yp_icon{ background-position:-97px -24px;}
.funclistul li a:hover .zne_qz_icon,.funclistul li a.currentpage .zne_qz_icon{ background-position:-172px -26px;}
.funclistul li a:hover .zne_cz_icon,.funclistul li a.currentpage .zne_cz_icon{ background-position:-122px -24px;}
/*.funclistul li a:hover .zne_bz_icon,.funclistul li a.currentpage .zne_bz_icon{ background-position:-146px -25px;}*/
.funclistul li a:hover .zne_bz_icon,.funclistul li a.currentpage .zne_bz_icon{ background-position:-1120px -25px;}
.funclistul li a:hover .zne_xxttj_icon,.funclistul li a.currentpage .zne_xxttj_icon{ background-position:-1082px -24px;}
.funclistul li a:hover .zne_dy_icon,.funclistul li a.currentpage .zne_dy_icon{ background-position:-197px -24px;}
/*2014 11 26 zzl 新增图标*/
.funclistul .zne_dt_icon{ background-position:-1011px 0px;}
.funclistul .zne_rz_icon{ background-position:-247px 0px;}
.funclistul .zne_zj_icon{ background-position:-271px 0px;}
.funclistul .zne_xz_icon{ background-position:-294px 0px;}
.funclistul .zne_sc_icon{ background-position:-319px 0px;}
.funclistul .zne_jh_icon{ background-position:-343px 0px;}
.funclistul .zne_sp_icon{ background-position:-369px 0px;}
.funclistul .zne_rw_icon{ background-position:-393px -1px;}
.funclistul .zne_ds_icon{ background-position:-419px 0px;}
.funclistul .zne_xx_icon{ background-position:-447px 0px;}
.funclistul .zne_kb_icon{ background-position:-470px 0px;}
.funclistul .zne_yyd_icon{ background-position:-500px 0px;}
.funclistul .zne_rc_icon{ background-position:-522px 0px;}
.funclistul .zne_dc_icon{ background-position:-549px 0px;}
.funclistul .zne_jc_icon{ background-position:-574px 0px;}
.funclistul .zne_wk_icon{ background-position:-601px 0px;}
.funclistul .zne_zzwk_icon{ background-position:-628px 0px;}
.funclistul .zne_ckzx_icon{ background-position:-653px 0px;}
.funclistul li a:hover .zne_dt_icon,.funclistul li a.currentpage .zne_dt_icon{ background-position:-1011px -24px;}
.funclistul li a:hover .zne_rz_icon,.funclistul li a.currentpage .zne_rz_icon{ background-position:-247px -24px;}
.funclistul li a:hover .zne_zj_icon,.funclistul li a.currentpage .zne_zj_icon{ background-position:-271px -24px;}
.funclistul li a:hover .zne_xz_icon,.funclistul li a.currentpage .zne_xz_icon{ background-position:-294px -24px;}
.funclistul li a:hover .zne_sc_icon,.funclistul li a.currentpage .zne_sc_icon{ background-position:-319px -24px;}
.funclistul li a:hover .zne_jh_icon,.funclistul li a.currentpage .zne_jh_icon{ background-position:-343px -24px;}
.funclistul li a:hover .zne_sp_icon,.funclistul li a.currentpage .zne_sp_icon{ background-position:-369px -24px;}
.funclistul li a:hover .zne_rw_icon,.funclistul li a.currentpage .zne_rw_icon{ background-position:-393px -24px;}
.funclistul li a:hover .zne_ds_icon,.funclistul li a.currentpage .zne_ds_icon{ background-position:-419px -24px;}
.funclistul li a:hover .zne_xx_icon,.funclistul li a.currentpage .zne_xx_icon{ background-position:-447px -24px;}
.funclistul li a:hover .zne_kb_icon,.funclistul li a.currentpage .zne_kb_icon{ background-position:-470px -24px;}
.funclistul li a:hover .zne_yyd_icon,.funclistul li a.currentpage .zne_yyd_icon{ background-position:-500px -24px;}
.funclistul li a:hover .zne_rc_icon,.funclistul li a.currentpage .zne_rc_icon{ background-position:-522px -24px;}
.funclistul li a:hover .zne_dc_icon,.funclistul li a.currentpage .zne_dc_icon{ background-position:-549px -24px;}
.funclistul li a:hover .zne_jc_icon,.funclistul li a.currentpage .zne_jc_icon{ background-position:-574px -24px;}
.funclistul li a:hover .zne_wk_icon,.funclistul li a.currentpage .zne_wk_icon{ background-position:-601px -24px;}
.funclistul li a:hover .zne_zzwk_icon,.funclistul li a.currentpage .zne_zzwk_icon{ background-position:-628px -24px;}
.funclistul li a:hover .zne_ckzx_icon,.funclistul li a.currentpage .zne_ckzx_icon{ background-position:-653px -24px;}


/*2016 12 27 zzl 新增图标,改版时增加*/
.funclistul .zne_sy_icon{ background-position:-686px -1px;}
.funclistul .zne_sf_icon{ background-position:-717px -1px;}
.funclistul .zne_wdkc_icon{ background-position:-1045px -1px;}
.funclistul .zne_tbyp_icon{ background-position:-777px -1px;}
.funclistul .zne_ztjs_icon{ background-position:-806px 0px;}
.funclistul .zne_wdxz_icon{ background-position:-836px 1px;}
.funclistul .zne_wdbj_icon{ background-position:-867px -1px;}
.funclistul .zne_tz_icon{ background-position:-897px -1px;}
.funclistul .zne_txl_icon{ background-position:-927px -1px;}
.funclistul .zne_lwjc_icon{ background-position:-958px -1px;}
.funclistul .zne_ztcj_icon{ background-position:-1009px -1px;}
.funclistul li a:hover .zne_sy_icon,.funclistul li a.currentpage .zne_sy_icon{ background-position:-686px -26px;}
.funclistul li a:hover .zne_sf_icon,.funclistul li a.currentpage .zne_sf_icon{ background-position:-717px -26px;}
.funclistul li a:hover .zne_wdkc_icon,.funclistul li a.currentpage .zne_wdkc_icon{ background-position:-1045px -25px;}
.funclistul li a:hover .zne_tbyp_icon,.funclistul li a.currentpage .zne_tbyp_icon{ background-position:-777px -25px;}
.funclistul li a:hover .zne_ztjs_icon,.funclistul li a.currentpage .zne_ztjs_icon{ background-position:-807px -26px;}
.funclistul li a:hover .zne_wdxz_icon,.funclistul li a.currentpage .zne_wdxz_icon{ background-position:-836px -24px;}
.funclistul li a:hover .zne_wdbj_icon,.funclistul li a.currentpage .zne_wdbj_icon{ background-position:-867px -26px;}
.funclistul li a:hover .zne_tz_icon,.funclistul li a.currentpage .zne_tz_icon{ background-position:-897px -26px;}
.funclistul li a:hover .zne_txl_icon,.funclistul li a.currentpage .zne_txl_icon{ background-position:-927px -26px;}
.funclistul li a:hover .zne_lwjc_icon,.funclistul li a.currentpage .zne_lwjc_icon{ background-position:-958px -26px;}
.funclistul li a:hover .zne_ztcj_icon,.funclistul li a.currentpage .zne_ztcj_icon{ background-position:-1009px -26px;}

/*.currentpage .wdkc_icon{ width:20px; height:20px; display:block; float:left; background-position:-159px 0; margin:10px 5px 0 10px;_margin:10px 5px 0 5px;}
*/.currentpage a{color:#FFF;}
.setpage{ display:block; background:#f3f3f3; border-bottom:1px solid #d5d5dc; border-top:1px solid #d5d5dc; border-right:1px solid #cccccc; line-height:38px; height:38px; margin:0px 0 15px 0; font-size:14px;}
/*.setpage .wdkc_icon{ width:20px; height:20px; display:block; float:left; background-position:-158px -27px; margin:10px 5px 0 10px;_margin:10px 5px 0 5px;}
*/
.funclist .addfunc{ background:#e4e4e7; height:20px; line-height:20px; padding:0 10px; border-right:1px solid #cccccc;}
.funclist .greyadd{ width:16px; height:16px; background-position:-1px 0; margin:2px 2px 0 0px;}
.funclist .addfunc a{ color:#555555;}

.funclistul .jiaoyu_icon{ background-position:-429px -1px;}
.funclistul li a:hover .jiaoyu_icon,.funclistul li a.currentpage .jiaoyu_icon{ background-position:-429px -26px;}
.funclistul .yp_icon{ background-position:-18px 2px;}
.funclistul .sj_icon{ background-position:-40px 0;}
.funclistul .bz_icon{ background-position:-63px 0;}
.funclistul .yyd_icon{ background-position:-83px 0;}
.funclistul .rcb_icon{ background-position:-106px 0;}
.funclistul .xz_icon{ background-position:-131px 0;}
.funclistul .wdkc_icon{ background-position:-158px -27px;}
.funclistul .node_icon{ background-position:-185px -1px;}
.funclistul .nes_icon{ background-position:-211px -1px;}
.funclistul .coll_icon{ background-position:-237px -1px;}
.funclistul .duxiu_icon{ background-position:-259px -1px;}
.funclistul .diaocha_icon{ background-position:-281px -1px;}
.funclistul .kecheng_icon{ background-position:-302px -1px;}
.funclistul .jihua_icon{ background-position:-323px -1px;}
.funclistul .banji_icon{ background-position:-344px -1px;}
.funclistul .zhongdoc_icon{ background-position:-365px -1px;}
.funclistul .weikecheng_icon{ background-position:-387px -1px;}
.funclistul .scd_icon{ background-position:-408px -1px;}
.funclistul .scd_icon{ background-position:-408px -1px;}
.funclistul .jianao_icon{ background:url(../images/dzja_icon_1.png) no-repeat;}

.funclistul .add_icon{ background:url(../images/notes.gif) no-repeat 0 -130px;}

.funclistul li a:hover .yp_icon,.funclistul li a.currentpage .yp_icon{ background-position:-18px -26px;}
.funclistul li a:hover .sj_icon,.funclistul li a.currentpage .sj_icon{ background-position:-40px -26px;}
.funclistul li a:hover .bz_icon,.funclistul li a.currentpage .bz_icon{ background-position:-63px -26px;}
.funclistul li a:hover .yyd_icon,.funclistul li a.currentpage .yyd_icon{ background-position:-83px -26px;}
.funclistul li a:hover .rcb_icon,.funclistul li a.currentpage .rcb_icon{ background-position:-106px -26px;}
.funclistul li a:hover .xz_icon,.funclistul li a.currentpage .xz_icon{ background-position:-131px -26px;}
.funclistul li a:hover .wdkc_icon,.funclistul li a.currentpage .wdkc_icon{ background-position:-131px -26px;}
.funclistul li a:hover .node_icon,.funclistul li a.currentpage .node_icon{ background-position:-185px -26px;}
.funclistul li a:hover .nes_icon,.funclistul li a.currentpage .nes_icon{ background-position:-211px -26px;}
.funclistul li a:hover .coll_icon,.funclistul li a.currentpage .coll_icon{ background-position:-237px -26px;}
.funclistul li a:hover .duxiu_icon,.funclistul li a.currentpage .duxiu_icon{ background-position:-259px -26px;}
.funclistul li a:hover .diaocha_icon,.funclistul li a.currentpage .diaocha_icon{ background-position:-281px -26px;}
.funclistul li a:hover .kecheng_icon,.funclistul li a.currentpage .kecheng_icon{ background-position:-302px -26px;}
.funclistul li a:hover .jihua_icon,.funclistul li a.currentpage .jihua_icon{ background-position:-323px -26px;}
.funclistul li a:hover .banji_icon,.funclistul li a.currentpage .banji_icon{ background-position:-344px -26px;}
.funclistul li a:hover .zhongdoc_icon,.funclistul li a.currentpage .zhongdoc_icon{ background-position:-365px -26px;}
.funclistul li a:hover .weikecheng_icon,.funclistul li a.currentpage .weikecheng_icon{ background-position:-387px -26px;}
.funclistul li a:hover .scd_icon,.funclistul li a.currentpage .scd_icon{ background-position:-408px -26px;}

.funclistul li a:hover .add_icon,.funclistul li a.currentpage .add_icon{ background:url(../images/notes.gif) no-repeat -23px -130px;}

.funclistul li a:hover .jianao_icon,.funclistul li a.currentpage .jianao_icon{ background:url(../images/dzja_icon_1.png) no-repeat -20px 0px;}

/*72014.7.25图标*/
.funclistul .zzwenk{ background:url(../images/icon/zzwenku2.png) no-repeat}
.funclistul li a:hover .zzwenk,.funclistul li a.currentpage .zzwenk{ background:url(../images/icon/zzwenku1.png) no-repeat}
.funclistul .lunwenjc{background-position:-495px -1px;}
.funclistul li a:hover .lunwenjc,.funclistul li a.currentpage .lunwenjc{ background-position:-495px -26px;}
.funclistul .xiaoxi{background:url(../images/icon/xiaoxi1.png) no-repeat}
.funclistul li a:hover .xiaoxi,.funclistul li a.currentpage .xiaoxi{ background:url(../images/icon/xiaoxi.png) no-repeat}

.zuserInfo_link {
    text-align: center;
}
.zuserInfo_link a {
    color: #7b9e31;
    display: inline-block;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}










