@charset "utf-8";
/* CSS Document */


*{margin:0;padding:0}
body{font:12px/1.5 Microsoft YaHei,Arial, Helvetica, sans-serif;color:#000;}
table{width:100%; border-collapse:collapse;border:none;border-spacing:0}
a{color:#474747;text-decoration:none;}
a:hover{color:#0088cc;}
img{border:none}
input{vertical-align:middle;outline:none}
textarea{outline:none;border:none}

.WhHeader{width:881px;height:131px;margin:0 auto;padding-left:211px;}
.Headercon{width:747px;height:126px;margin:0 auto;}

.Hlogo{width:188px;height:40px;float:left;margin-top:46px;}
.Hsousuo{float:left;width:559px;margin-top:46px;}
.HInput{width:292px;height:38px;border:1px solid #b8b8b8;border-right:0;background:#fff;font-size:12px;float:left;color:#999;line-height:38px;}
.Sbutton{display:block;width:105px;height:40px;text-align:center;line-height:40px;font-size:18px;color:#fff;background:#7b9e31;font-family:"微软雅黑";float:left}
.Headerp{font-size:12px;color:#fff;line-height:35px;}
.Rightwz{padding-top:16px;padding-bottom:10px;}
.Rightwz a{color:#fff;display:inline-block;margin-right:20px;font-size:14px;}
.Rightwz a:hover{color:#8eec89}
.andios {margin-top: 30px;text-align: center;}
.andios img {margin-bottom: 10px;}

.yqm{width:359px;height:214px;background:#fff;box-shadow:0 0 5px #ccc;left:50%;top:50%;position:absolute;padding:15px}
.closed{width:17px;height:17px;background:#cfcfcf;color:#fff;line-height:17px;text-align:center;border-radius:100%}
.yqm h3{width:88px;background:url(../images/yqm.jpg) no-repeat left 5px;margin:0 auto;font-size:18px;padding:0 0 15px 20px }
.yqmInp{width:300px;height:40px;line-height:40px;padding:0 10px;border:solid 1px #bfbfbf;margin-left:20px}
.sure{width:114px;height:35px;text-align:center;line-height:35px;margin:0 auto;background:#7b9e31;display:block;font-size:16px;color:#fff;border-radius:5px;position:absolute;bottom:15px;left:120px}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both}


  
