.reg-bg {
    background: url(../images/login-reg/login-reg.jpg) no-repeat;
    background-size: cover;
}
/* 注册列表 */
.reg-bg .reg-list {
    width: 560px;
    height: 430px;
    margin: 50px 0 0 700px;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    font-size: 14px;
}
.reg-list table a {
    font-size: 12px;
}
.reg-list .name {
    text-align: right;
    width: 100px;
    padding: 14px 0;
}
#uname,#upwd,#upwd2,#email,#phone,#user_name {
    padding-left: 20px;
    width: 260px;
    height: 34px;
    border:0;
    outline:0;
    border-radius: 2px;
}
.reg-list .msg {
    width: 160px;
}
#nan,#s,#t {
    margin-left: 20px;
}
#nv {
    margin-left: 34px;
}
.reg-list table {
    width: 100%;
}
.reg-list .reg-title {
    font-size: 20px;
}
.reg-list .login {
    text-align: right;
}
.reg-list button {
    width: 278px;
    height: 38px;
    background-image: linear-gradient(to right,#27b0f6 0%, #0aa1ed 100%);
    border: 0;
    margin:8px 0 0 100px;
}
.reg-list span {
    font-size: 12px;
}
